:host {
  display: block;
  --wave-color: #ddd; /* Default color for WaveSurfer */
  --progress-color: #555; /* Default progress color */
  --button-color: white;
  --font-family: Helvetica, Arial, sans-serif;
}


.wsap-container {
    max-width:600px;
    border:1px solid black;
    overflow: hidden;
}
.wsap-container .title {
    flex:100%;
}
.wsap-container.basic {
  background:white;
}
.wsap-left-controls {
    vertical-align:top;
    flex:1;
    text-align:center;
}
button.play-pause:focus {
    outline:none;
}
button.play-pause:active {
    outline:none;
    border-style:initial;
}
.wsap-left-controls img {
    width:75px;
}
.wsap-container div#wavesurfer {
    display: grid;
    align-items: center;
    vertical-align: top;
    flex:4;
}
.player-header {
  width:100%;
  display:flex;
  background:#d4d4d4;
  color: black;
  line-height: 40px;
  font-family: var(--font-family);
  font-weight: bold;
  border:1px solid black;
}
.current-time, .total-time {
  padding: 0 10px;
  outline: 1px solid black;
}
.title {
    padding: 0 20px;
    font-family: var(--font-family);
}
.title h3 {
    margin: 0;
}
button.play-pause {
    border-radius: 50%;
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-style:initial;
    background:var(--button-color);
    cursor: pointer;
    transform: scale(.7);
}
.left-control-container{
  aspect-ratio: 1/1;
}
.player-main {
  display:flex;
}
.symbol {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: scale(.6);

    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    /* play state */
    border-style: solid;
    border-width: 50px 0 50px 60px;
}
.symbol.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}
button.play-pause:hover .symbol {
    border-color: transparent transparent transparent #404040;
    transform: scale(.5);

}

/* Dark Theme */
.wsap-container.dark {
  background:#202020;
  --ci-primary-color: #f3f3f3;
}
.wsap-container.dark .player-header {
  border: 1px solid #4f4f4f;
  color: #f3f3f3;
  background:#3b3b3b;
}
.dark .current-time, .dark .total-time {
  outline:1px solid #4f4f4f;
}

.current-time, .total-time {
  word-break: keep-all;
}

button.loop {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button.loop .loop-symbol {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  path {
    fill: #898989;
  }
}

button.loop.active .loop-symbol {
  path {
    fill: #ffffff;
  }
}
@media (width < 600px) {
  .title, .current-time, .total-time {
    font-size: .8em;
  }
  .wsap-left-controls {
    align-content: center;
  }
  .symbol {
    border-width: 35px 0 35px 60px;
  }
  .wsap-container div#wavesurfer {
    margin: 10px 0;
  }
}

