.wsap-container {
    max-width:600px;
    border:1px solid black;
    overflow: hidden;
}
.wsap-container .title {
    flex:100%;
}
.wsap-left-controls {
    vertical-align:top;
    flex:1;
    text-align:center;
}
button.play-pause:focus {
    outline:none;
}
button.play-pause:active {
    outline:none;
    border-style:initial;
}
.wsap-left-controls img {
    width:75px;
}
.wsap-container div#wavesurfer {
    vertical-align: top;
    flex:4;
}
.player-header {
  width:100%;
  margin-bottom:10px;
  display:flex;
  background:#d4d4d4;
  color: black;
  line-height: 40px;
  font-family: sans-serif;
  font-weight: bold;
  border:1px solid black;
}
.current-time, .total-time {
  padding: 0 10px;
  outline: 1px solid black;
}
.title {
    padding: 0 20px;
    font-family: Helvetica, Arial, sans-serif;
}
.title h3 {
    margin: 0;
}
button.play-pause {
    border-radius: 50%;
    height: 102px;
    width: 102px;
    position: relative;
    border-style:initial;
    background:#d4d4d4;
}
.player-main {
  display:flex;
  margin: 10px 0;
}
.symbol {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: scale(.6);

    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    /* play state */
    border-style: solid;
    border-width: 37px 0 37px 60px;
}
.symbol.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}
.symbol:hover {
    border-color: transparent transparent transparent #404040;
}

/* Dark Theme */
.wsap-container.dark {
  background:#202020;
}
.wsap-container.dark .player-header {
  border: 1px solid #4f4f4f;
  color: #f3f3f3;
  background:#3b3b3b;
}
.dark .current-time, .dark .total-time {
  outline:1px solid #4f4f4f;
}
